<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>CityPulse AI</title>

<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

<nav>

<h2>CityPulse AI</h2>

<a href="/">Home</a>

<a href="/dashboard">Dashboard</a>

<a href="/waste">Waste</a>

</nav>

<header class="hero">

<h1>Smart City Decision Platform</h1>

<p>AI Powered Urban Intelligence</p>

<a href="/dashboard" class="btn">Open Dashboard</a>

</header>

</body>

</html>